.tables-container {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.table {
  width: 130px;
  height: 100px;
  margin-left: 20px;
  margin-right: 20px;
  background: #7b1fa2;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  color: white;
}

.table-data {
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: middle;
  padding-top: 25px;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.selected {
  border: 10px solid whitesmoke;
}

.client-data {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  max-width: 250px;
}

.available-tables {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.bold {
  font-weight: bold;
  text-decoration: underline;
}

button {
  color: white;
  font-size: 20px;
  border: 1px solid white;
  background: #7b1fa2;
  margin-top: 20px;
}

.mat-input {
  background: #7b1fa2;
  border-radius: 15px;
  color: white;
  margin-top: 7px;
  margin-bottom: 7px;
}

