.confirm-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  text-align: center;
}

button {
  color: white;
  font-size: 20px;
  border: 1px solid white;
}

.input {
  margin-top: 15px;
  max-width: 250px;
}

.confirm-button {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}
