<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="position: relative">

  <ng-container matColumnDef="text" class="column">
    <th mat-header-cell *matHeaderCellDef> Text </th>
    <td mat-cell *matCellDef="let element">{{element.text}}</td>
  </ng-container>

  <ng-container matColumnDef="rating" class="column">
    <th mat-header-cell *matHeaderCellDef> Rating </th>
    <td mat-cell *matCellDef="let element">{{element.rating}}</td>
  </ng-container>

  <ng-container matColumnDef="client" class="column">
    <th mat-header-cell *matHeaderCellDef> Client </th>
    <td mat-cell *matCellDef="let element">{{element.fullName}}</td>
  </ng-container>

  <ng-container matColumnDef="actions" class="column">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" (click)="delete(element.id)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="delete(element.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>

<div class="pagination">
  <span>Page {{page}} of {{totalPages}}</span>
  <button mat-button [disabled]="!previous" (click)="previousPage()">
    <mat-icon class="arrow">keyboard_arrow_left</mat-icon>
  </button>
  <button mat-button [disabled]="!next" (click)="nextPage()">
    <mat-icon class="arrow">keyboard_arrow_right</mat-icon>
  </button>
</div>
